﻿/*Calendar Control CSS*/
.cal_Theme1 .ajax__calendar_container
{
   background-color: black;
    border: solid 1px #0000;
    font-family: inherit;
}

.cal_Theme1 .ajax__calendar_header
{
    background-color: #ffffff;
    margin-bottom: 4px;
}

.cal_Theme1 .ajax__calendar_title, .cal_Theme1 .ajax__calendar_next, .cal_Theme1 .ajax__calendar_prev
{
    color: Black;
    padding-top: 3px;
}

.cal_Theme1 .ajax__calendar_body
{
    background-color: #ffffff;
    border: solid 1px #9E9E9E;
    height: 139px;
    width: 159px;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.cal_Theme1 .ajax__calendar_dayname
{
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 2px;
    color: Black;
        white-space: nowrap;
}

.cal_Theme1 .ajax__calendar_day
{
    /* color: Black; */
    text-align: center;
    height: 18px;
    width: 20px;
}

.cal_Theme1 .ajax__calendar_container TABLE
{
    /*padding: 0px !important;     margin: 0px !important;*/
    font-size: 11px;
}

.cal_Theme1 .ajax__calendar_days, .cal_Theme1 .ajax__calendar_months, .cal_Theme1 .ajax__calendar_years
{
    top: 0px;
    left: 0px;
    height: 139px !important;
    width: 157px !important;
    position: absolute;
    text-align: center;
    margin: auto;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_month, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_year, .cal_Theme1 .ajax__calendar_active
{
    color: white;
    font-weight: bold;
    background-color: black;
}

.ajax__calendar_footer .ajax__calendar_today
{     color: white !important;
    font-weight: bold !important; }


.ajax__calendar_today > .ajax__calendar_today
{
    font-weight: bold !important;
    padding-top: 0 !important;
    color: Black !important;
}

.cal_Theme1 .ajax__calendar_other, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_today, .cal_Theme1 .ajax__calendar_hover .ajax__calendar_title
{
    color: #bbbbbb;
}


.ajax__calendar_invalid
{
    text-decoration-line: line-through;
    color: red !important;
    pointer-events: none;
}

.ajax__calendar_container TD {
    padding: 0px;
    margin: 0px;
    font-size: 11px;
    color: black;
    font-weight: 500;
}