﻿.dvsliderdot {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 3rem;
	padding: 1.25rem;
}

/* Slideshow container */

.slideshow-container {
	width: 100%;
	position: relative;
	margin: auto;
}


/* Hide the images by default */

.mySlides {
	display: none;
}


/* Next & previous buttons */

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white !important;
	font-weight: bold;
	font-size: 21px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}


/* Position the "next button" to the right */

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}


/* The dots/bullets/indicators */

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 4px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #b21e28;
}


/* Fading animation */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}
 .kt-dropzone__msg
        {
            font-weight: 600;
            color: #111820;
        }
        
        /* .dropzone .dz-clickable
        {
            cursor: pointer;
        } */
        .dropzone
        {
            border: 2px dashed #ebedf2;
        }
        
        .dropzone
        {
            border-radius: 4px;
            padding: 20px;
            text-align: center; /* cursor: pointer; */
            height: 160px;
        }
        
        .dz-message
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        /* File Upload Design  */
        .file-upload-new
        {
            display: inline-block;
            overflow: hidden;
            position: relative;
            text-align: center;
            vertical-align: middle;
            background-color: ghostwhite;
            color: black;
            border-radius: 5px;
            -moz-border-radius: 6px;
            font-weight: 600;
            box-shadow: 1px 1px 7px 2px #e0dede;
            height: 230px; /* border: 2px dashed rgb(153,154,154);
            padding: 20px; */
            margin-bottom: 0px; /* cursor: pointer; */
        }
        
        .file-upload-new:hover
        {
            background: white;
        }
        
        /* The button size */
        /* .file-upload-new
        {
            height: 45px;
        } */
        .file-upload-new, .file-upload-new span
        {
            width: 100%;
        }
        
        .file-upload-new input
        {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        
        .file-upload-new strong
        {
            font: normal 13.5px sans-serif;
            font-weight: 600;
            vertical-align: middle;
        }
        
        .file-upload-new span
        {
            position: absolute;
            top: 4px;
            left: 4px; /* display: inline-block; */ /* padding-top: 1.15em; */ /* font-size: 0rem; */
            padding: 4px;
            text-align: left;
            font-size: 0;
        }