﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MainMaster.master.cs" Inherits="Pages_AdminMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>JetEdge | FLYT | Admin</title>
    <meta name="description" content="Jet Edge - Private Aviation Company - Aircraft Sales - Private Jet Charter &amp; Management Services" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="../assets/img/Logo_Tra.gif" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../assets/vendors/general/summernote/dist/summernote.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/css/Calendar.css" rel="stylesheet" type="text/css" />
    <style>
        /* width */
        ::-webkit-scrollbar
        {
            width: 8px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track
        {
            background: #f1f1f1;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb
        {
            background: #888;
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover
        {
            background: #555;
        }
        
        .newloader
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 150px;
            height: 150px;
            overflow: hidden;
            z-index: 99999;
            text-align: center;
            background-color: white;
            padding: 0.5rem;
            box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
            font-weight: 600;
            letter-spacing: 0.5px;
            font-size: 1.1rem;
        }
        .ajax__calendar_invalid > div
        {
            color: red !important;
        }
        @media (min-width: 992px)
        {
            .wrapper
            {
                margin-top: 8px;
                margin-left: 100px;
                padding: 0px;
                box-shadow: 0 3px 6px rgb(197 195 195);
                padding-bottom: 10px;
                width: 100%;
                padding-top: 10px !important;
                min-height: 89vh;
                margin-bottom: 0;
            }
        }
        input[type="radio"], input[type="checkbox"]
        {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-right: 5px;
            vertical-align: middle;
            margin-left: 6px;
            margin-bottom: 3px;
            height: 15px;
            width: 14px;
        }
        #gvtail tbody tr td
        {
            border: 0px;
            padding-bottom: 10px;
        }
        #gvtail tbody
        {
            border: none !important;
        }
    </style>
    <script type="text/javascript">
        function showloader() {
            window.scroll(0, 0);
        }
    </script>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="kt_body" class="header-fixed header-mobile-fixed sidebar-enabled page-loading">
    <form id="frmZoom" runat="server" autocomplete="off">
    <asp:ScriptManager runat="server" ID="ToolkitScriptManager" ScriptMode="Release"
        EnablePageMethods="true" EnablePartialRendering="true" EnableScriptGlobalization="true">
    </asp:ScriptManager>
    <div id="divImage" class="newloader" style="display: none;">
        <img id="imgAjax" alt="loading..." title="loading..." src="../Images/ajax-loading.gif"
            style="width: 150px; height: 150px" />
    </div>
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile  header-mobile-fixed ">
        <!--begin::Logo-->
        <a href="Pricecharter.aspx">
            <img src="../Images/jet-edge-logo.png" height="50px" alt="JetEdge Zoom" cl ass="logo-default max-h-40px" />
        </a>
        <!--end::Logo-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin::Aside Mobile Toggle-->
            <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
                <span></span>
            </button>
            <!--end::Aside Mobile Toggle-->
            <!--begin::Header Menu Mobile Toggle-->
            <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
                <span></span>
            </button>
            <!--end::Header Menu Mobile Toggle-->
            <!--begin::Topbar Mobile Toggle-->
            <%--<button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
                <span class="svg-icon svg-icon-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"></polygon>
        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
    </g>
</svg>
                </span>
            </button>--%>
            <!--end::Topbar Mobile Toggle-->
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Aside-->
            <div class="aside aside-left d-flex flex-column " id="kt_aside">
                <!--begin::Brand-->
                <div class="aside-brand d-flex flex-column align-items-center flex-column-auto py-9"
                    style="padding-top: 10px !important;">
                    <!--begin::Logo-->
                    <a class="btn p-0 symbol symbol-50 symbol-success" href="Pricecharter.aspx">
                        <img src="../assets/img/Logo_Tra.gif" alt="JetEdge Zoom" />
                    </a>
                    <!--end::Logo-->
                </div>
                <!--end::Brand-->
                <!--begin::Nav Wrapper-->
                <div class="aside-nav d-flex flex-column align-items-center flex-column-fluid pb-10 pt-2">
                    <!--begin::Nav-->
                    <ul class="nav flex-column">
                        <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body"
                            data-boundary="window" title="Home"><a href="PriceCharter.aspx" class="nav-link btn btn-icon btn-lg btn-borderless active">
                                <span class="svg-icon svg-icon-xxl"><i class="fa fa-home"></i></span></a>
                        </li>
                        <a href="#" class="btn btn-icon btn-lg btn-borderless mb-3" id="kt_quick_panel_toggle"
                            data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window"
                            title="General Setup"><span class="svg-icon svg-icon-xxl"><i class="fa fa-cog"></i>
                            </span></a>
                        <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body"
                            data-boundary="window" title="Empty Leg Setup"><a href="EmptyLegSetup_V3.aspx" class="nav-link btn btn-icon btn-lg btn-borderless">
                                <span class="svg-icon svg-icon-xxl"><i class="flaticon2-graph-1"></i></span>
                            </a></li>
                        <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body"
                            data-boundary="window" title="Pricing Setup"><a href="PricingConfig.aspx" class="nav-link btn btn-icon btn-lg btn-borderless">
                                <span class="svg-icon svg-icon-xxl"><i class="fa fa-dollar-sign"></i></span>
                            </a></li>
                        <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body"
                            data-boundary="window" title="Discount & Coupon"><a href="DiscountandCoupon.aspx"
                                class="nav-link btn btn-icon btn-lg btn-borderless"><span class="svg-icon svg-icon-xxl">
                                    <i class="flaticon-price-tag"></i></span></a></li>
                        <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body"
                            data-boundary="window" title="Fixed Price"><a href="FixedPrice.aspx" class="nav-link btn btn-icon btn-lg btn-borderless">
                                <span class="svg-icon svg-icon-xxl"><i class="fa fa-cog"></i></span></a>
                        </li>
                        <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body"
                            data-boundary="window" title="FAQ"><a href="FAQ.aspx" class="nav-link btn btn-icon btn-lg btn-borderless">
                                <span class="svg-icon svg-icon-xxl"><i class="fa fa-question-circle"></i></span>
                            </a></li>
                        <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body"
                            data-boundary="window" title="Terms And Condition"><a href="TermsAndCondition_V1.aspx"
                                class="nav-link btn btn-icon btn-lg btn-borderless"><span class="svg-icon svg-icon-xxl">
                                    <i class="fa fa-book"></i></span></a></li>
                        <%--  <li class="nav-item mb-3" data-toggle="tooltip" data-placement="right" data-container="body"
                            data-boundary="window" title="Payment Status"><a href="Payment.aspx" class="nav-link btn btn-icon btn-lg btn-borderless">
                                <span class="svg-icon svg-icon-xxl"><i class="fa fa-dollar-sign"></i></span>
                            </a></li>--%>
                        <div class="aside-footer d-flex flex-column align-items-center flex-column-auto">
                            <a href="#" class="btn btn-icon btn-lg btn-borderless mb-1" id="kt_quick_actions_toggle"
                                data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window"
                                title="Reports"><span class="svg-icon svg-icon-xxl"><i class="flaticon-file-2"></i>
                                </span></a>
                        </div>
                    </ul>
                    <!--end::Nav-->
                </div>
                <!--end::Nav Wrapper-->
                <!--begin::Footer-->
                <div class="aside-footer d-flex flex-column align-items-center flex-column-auto py-8">
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper" style="background: transparent;
                border-radius: 0; box-shadow: none; padding-top: 0 !important;">
                <div id="kt_header" class="header  header-fixed ">
                    <div class="header-wrapper rounded-top-xl d-flex flex-grow-1 align-items-center">
                        <div class=" container-fluid  d-flex align-items-center justify-content-end justify-content-lg-between flex-wrap">
                            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                                <div id="kt_header_menu" class="header-menu header-menu-mobile  header-menu-layout-default ">
                                    <h5 class="text-dark font-weight-bold my-1 mr-2">
                                        <span id="lblMainHeader" runat="server">General Setup</span>
                                    </h5>
                                    <h5 class="text-dark font-weight-bold my-1 mr-2">
                                        /
                                    </h5>
                                    <h5 class="text-dark font-weight-bold my-1">
                                        <span id="lblSubHeader" runat="server">Create Admin User</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-3 py-lg-2">
                                <div style="padding-right: 0.7rem; font-weight: 500; letter-spacing: 0.5px;">
                                    <i class="la la-clock-o" style="color: black;"></i>&nbsp;Last Run Time :
                                    <asp:Label ID="lblLastRunTime" runat="server" />
                                    <br />
                                    <i class="la la-clock-o" style="color: black;"></i>&nbsp;Next Run Time :
                                    <asp:Label ID="lblNextRunTime" runat="server" />
                                </div>
                                <a href="Payment.aspx" class="btn btn-icon btn-lg btn-borderless mb-1 mr-2 position-relative"
                                    id="A1" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window"
                                    title="" data-original-title="Payment Status"><span class="svg-icon svg-icon-xxl"><i
                                        class="icon-2x dark-50 fa fa-dollar-sign" style="color: #b21e28;"></i></span>
                                    <span class="label label-sm label-light-danger label-rounded font-weight-bolder position-absolute top-0 right-0 mt-1 mr-1">
                                        <asp:Label ID="Label1" runat="server"></asp:Label></span> </span><span class="label label-sm label-light-danger label-rounded font-weight-bolder position-absolute top-0 right-0 mt-1 mr-1">
                                            <asp:Label ID="lblPaymentCount" runat="server" Text="0" />
                                        </span></a><a href="#" class="btn btn-icon btn-lg btn-borderless mb-1 mr-3 position-relative"
                                            id="kt_quick_notifications_toggle" data-toggle="tooltip" data-placement="right"
                                            data-container="body" data-boundary="window" title="" data-original-title="Notifications">
                                            <span class="svg-icon svg-icon-xxl"><i class="icon-2x dark-50 flaticon-bell" style="color: #b21e28;">
                                            </i></span><span class="label label-sm label-light-danger label-rounded font-weight-bolder position-absolute top-0 right-0 mt-1 mr-1">
                                                <asp:Label ID="notcountde" runat="server"></asp:Label></span> </span><span class="label label-sm label-light-danger label-rounded font-weight-bolder position-absolute top-0 right-0 mt-1 mr-1">
                                                    <asp:Label ID="notcountde1" runat="server"></asp:Label>
                                                </span></a>
                                <!--end::Notifications-->
                                <!--begin::Logo-->
                                <div class="btn p-0 symbol symbol-40 symbol-success" href="?page=index" id="kt_quick_user_toggle">
                                    <div class="symbol-label ">
                                        <asp:Label ID="lblUserInitial1" runat="server" />
                                    </div>
                                </div>
                                <!--end::Logo-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                <div class="d-flex flex-column flex-row-fluid wrapper content  d-flex flex-column flex-column-fluid"
                    id="kt_content" style="margin-left: 0;">
                    <div class="d-flex flex-column-fluid">
                        <div class=" container ">
                            <asp:ContentPlaceHolder ID="MainContent" runat="server">
                            </asp:ContentPlaceHolder>
                        </div>
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!--begin::Quick Actions Panel Reports-->
    <div id="kt_quick_actions" class="offcanvas offcanvas-left p-7">
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
            <h3 class="font-weight-bold m-0" style="color: White;">
                Reports
            </h3>
            <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_actions_close"
                style="background-color: #663259 !important; border-color: #663259 !important;">
                <i class="ki ki-close icon-xs text-muted"></i></a>
        </div>
        <div class="offcanvas-content pr-5 mr-n5">
            <div class="row gutter-b">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="BookedReportV1.aspx" class="btn btn-block btn-light btn-hover-primary  text-center py-10 px-5"
                        style="padding: 0.8rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="flaticon2-hourglass-1 icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Booked Report</span> </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="UserLogReport.aspx" class="btn btn-block btn-light btn-hover-primary  text-center py-10 px-5"
                        style="padding: 0.8rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="flaticon2-hourglass-1 icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Admin User Log</span> </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row gutter-b">
                <!--begin::Item-->
                <div class="col-6">
                    <a href="ExceptionReport.aspx" class="btn btn-block btn-light btn-hover-primary  text-center py-10 px-5"
                        style="padding: 0.8rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="flaticon2-hourglass-1 icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Exception Report</span> </a>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="col-6">
                    <a href="UserPreferenceReport.aspx" class="btn btn-block btn-light btn-hover-primary  text-center py-10 px-5"
                        style="padding: 0.8rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="flaticon2-hourglass-1 icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                User Preference</span> </a>
                </div>
                <!--end::Item-->
            </div>
            <div class="row gutter-b">
                <div class="col-6">
                    <a href="PageHits.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="flaticon2-hourglass-1 icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Page Hits</span> </a>
                </div>
                <div class="col-6">
                    <a href="PrivacyPolicyRequest.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="flaticon2-hourglass-1 icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Privacy Policy Request</span> </a>
                </div>
            </div>
        </div>
    </div>
    <!--end::Quick Actions Panel Reports-->
    <!--begin::Quick Panel General Setup-->
    <div id="kt_quick_panel" class="offcanvas offcanvas-left p-5">
        <div class="offcanvas-header offcanvas-header-navs d-flex align-items-center justify-content-between mb-5">
            <h3 class="font-weight-bold m-0" style="color: White !important;">
                General Setup
            </h3>
            <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_panel_close"
                style="background-color: #F44336 !important; border-color: #F44336 !important;">
                <i class="ki ki-close icon-xs text-muted"></i></a>
        </div>
        <div class="offcanvas-content pr-5 mr-n5">
            <div class="row gutter-b">
                <div class="col-6">
                    <a href="CreateAdminUser.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fa fa-user-plus icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Admin User</span> </a>
                </div>
                <div class="col-6">
                    <a href="Customer.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fa fa-user icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Customer</span> </a>
                </div>
            </div>
            <div class="row gutter-b">
                <div class="col-6">
                    <a href="NonZoomCustomer.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fa fa-user-slash icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Non Zoom Customer</span> </a>
                </div>
                <div class="col-6">
                    <a href="EmailSetup.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fa fa-mail-bulk icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Email Setup</span> </a>
                </div>
            </div>
            <div class="row gutter-b">
                <div class="col-6">
                    <a href="TaxSetup.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fa fa-dollar-sign icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Tax Setup</span> </a>
                </div>
                <div class="col-6">
                    <a href="Exception.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="flaticon-warning icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Exception</span> </a>
                </div>
            </div>
            <div class="row gutter-b">
                <div class="col-6">
                    <a href="GlobalConfig.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fas fa-globe-americas icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Global Config</span> </a>
                    <%--<a href="CountryFee.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="flaticon-globe icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Country Fee Setup</span> </a>--%>
                </div>
                <div class="col-6">
                    <a href="AirportGroup.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="flaticon-map-location icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Airport Group</span> </a>
                </div>
            </div>
            <div class="row gutter-b">
                <div class="col-6">
                    <a href="InvoiceNumber.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center">
                        <span class="svg-icon svg-icon-3x svg-icon-primary m-0"><i class="fa fa-list-ol icon-2x">
                        </i></span><span class="d-block font-weight-bold font-size-h6 mt-2">Invoice # Generation</span>
                    </a>
                </div>
                <div class="col-6">
                    <a href="LandingGallery.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fa fa-images icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Landing Image</span> </a>
                </div>
            </div>
            <div class="row gutter-b">
                <div class="col-6">
                    <a href="scheduler.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fas fa-clock icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Must Move </span></a>
                </div>
                <div class="col-6">
                    <a href="CustomerScheduler.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fa fa-clock icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Sign Up Scheduler</span> </a>
                </div>
            </div>
            <div class="row gutter-b" style="display: none;">
                <div class="col-6">
                    <a href="AirportRule.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fa fa-plane icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Airport Rule</span> </a>
                </div>
                <div class="col-6">
                    <a href="AirportMaster.aspx" class="btn btn-block btn-light btn-hover-primary text-dark-50 text-center"
                        style="padding: 0.7rem !important;"><span class="svg-icon svg-icon-3x svg-icon-primary m-0">
                            <i class="fas fa-copyright icon-2x"></i></span><span class="d-block font-weight-bold font-size-h6 mt-2">
                                Airport Master</span> </a>
                </div>
            </div>
        </div>
    </div>
    <!--end::Quick Panel General Setup-->
    <!-- begin::Notifications Panel-->
    <div id="kt_quick_notifications" class="offcanvas offcanvas-left p-5">
        <div class="offcanvas-header d-flex align-items-center justify-content-between mb-10">
            <h3 class="font-weight-bold m-0" style="color: White;">
                Notifications <small class="text-muted font-size-sm ml-2">
                    <asp:Label ID="lblNotCount" runat="server" Style="color: #1BC5BD !important; font-weight: bold;
                        font-size: 20px;"></asp:Label></small>
            </h3>
            <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_notifications_close"
                style="background-color: #663259 !important; border-color: #663259 !important;">
                <i class="ki ki-close icon-xs text-muted"></i></a>
        </div>
        <div class="offcanvas-content pr-5 mr-n5">
            <!--begin::Nav-->
            <div class="navi navi-icon-circle navi-spacer-x-0">
                <!--begin::Item-->
                <a href="#" class="navi-item">
                    <div class="navi-link pt-0">
                        <div class="navi-text">
                            <div class="font-weight-bold font-size-lg" style="color: White; margin-bottom: 5px;">
                                <div>
                                    <label>
                                        <i class="flaticon-bell text-success icon-lg"></i>&nbsp; The below tails are not
                                        configured in the pricing setup.</label>
                                </div>
                            </div>
                            <div class="text-muted" style="border-color: 0px !important;">
                                <asp:GridView runat="server" ID="gvtail" AutoGenerateColumns="false" Width="100%"
                                    BorderStyle="None" BorderWidth="0" role="grid" ShowHeader="false">
                                    <Columns>
                                        <asp:TemplateField HeaderText="" HeaderStyle-VerticalAlign="Top" ItemStyle-HorizontalAlign="left"
                                            HeaderStyle-HorizontalAlign="left" ItemStyle-Wrap="false" HeaderStyle-Width="10%"
                                            ItemStyle-Width="10%" HeaderStyle-Font-Size="16px">
                                            <ItemTemplate>
                                                <%# Container.DataItemIndex + 1 %>
                                                .
                                                <asp:Label ID="lblTailNo" Style="padding-bottom: 2%; color: White" runat="server"
                                                    Text='<%# Eval("TailNo") %>'> </asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                    </Columns>
                                </asp:GridView>
                            </div>
                        </div>
                    </div>
                </a>
                <!--end::Item-->
                <!--begin::Item-->
                <%--<a href="#" class="navi-item">
                    <div class="navi-link">
                        <div class="symbol symbol-50 symbol-circle mr-3">
                            <div class="symbol-label">
                                <i class="flaticon2-box text-danger icon-lg"></i>
                            </div>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold  font-size-lg">
                                2 new items submited
                            </div>
                            <div class="text-muted">
                                by Grog John
                            </div>
                        </div>
                    </div>
                </a>--%>
                <!--end::Item-->
                <!--begin::Item-->
                <%-- <a href="#" class="navi-item">
                    <div class="navi-link">
                        <div class="symbol symbol-50 symbol-circle mr-3">
                            <div class="symbol-label">
                                <i class="flaticon-psd text-primary icon-lg"></i>
                            </div>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold  font-size-lg">
                                79 PSD files generated
                            </div>
                            <div class="text-muted">
                                Reports based on sales
                            </div>
                        </div>
                    </div>
                </a>--%>
                <!--end::Item-->
                <!--begin::Item-->
                <%-- <a href="#" class="navi-item">
                    <div class="navi-link">
                        <div class="symbol symbol-50 symbol-circle mr-3">
                            <div class="symbol-label">
                                <i class="flaticon2-supermarket text-warning icon-lg"></i>
                            </div>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold  font-size-lg">
                                $2900 worth producucts sold
                            </div>
                            <div class="text-muted">
                                Total 234 items
                            </div>
                        </div>
                    </div>
                </a>--%>
            </div>
            <!--end::Nav-->
        </div>
    </div>
    <!-- end::Notifications Panel-->
    <!-- begin::User Panel-->
    <div id="kt_quick_user" class="offcanvas offcanvas-left p-5">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
            <h3 class="font-weight-bold m-0" style="color: White;">
                User Profile
            </h3>
            <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close"
                style="background-color: #663259 !important; border-color: #663259 !important;">
                <i class="ki ki-close icon-xs text-muted"></i></a>
        </div>
        <!--end::Header-->
        <!--begin::Content-->
        <div class="offcanvas-content pr-5 mr-n5">
            <!--begin::Header-->
            <div class="d-flex align-items-center mt-5 mb-5">
                <div class="symbol symbol-100 mr-5">
                    <div class="symbol-label">
                        <img src="../assets/img/UserIcon.png" style="width: 100%;" />
                    </div>
                    <i class="symbol-badge bg-success"></i>
                </div>
                <div class="d-flex flex-column" style="width: 100%;">
                    <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">
                        <asp:Label ID="lblUserInitial" Text="Email" runat="server" Visible="false"></asp:Label>
                    </a>
                    <div class="navi mt-2">
                        <a href="#" class="navi-item" style="margin-bottom: 0.5rem;"><span class="navi-link p-0 pb-2">
                            <span class="navi-icon mr-1"><span class="svg-icon svg-icon-lg svg-icon-primary"><i
                                class="icon  flaticon2-mail" style="display: none;"></i></span></span><span class="navi-text text-muted text-hover-primary"
                                    style="word-break: break-all;">
                                    <asp:Label ID="lblUser" Text="UserName" runat="server" Style="color: White;" />
                                </span></span></a><a href="#" class=" font-weight-bolder py-2 px-5">
                                    <asp:LinkButton ID="LinkButton12" CssClass="btn btn-light-danger" Text="LOGOUT" Style="color: White;
                                        text-decoration: none" OnClick="loggedout_Click" runat="server"></asp:LinkButton></a>
                    </div>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Nav-->
            <div class="navi navi-spacer-x-0 p-0">
                <!--begin::Item-->
                <span class="navi-item">
                    <div class="navi-link">
                        <div class="symbol symbol-40 bg-light mr-3">
                            <div class="symbol-label">
                                <span class="svg-icon svg-icon-warning"><i class="icon-xl  flaticon2-phone"></i>
                                </span>
                            </div>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold">
                                Mobile Number
                            </div>
                            <div class="text-muted">
                                <asp:Label ID="lblcontact" Text="Contact" runat="server" />
                            </div>
                        </div>
                    </div>
                </span><span class="navi-item">
                    <div class="navi-link">
                        <div class="symbol symbol-40 bg-light mr-3">
                            <div class="symbol-label">
                                <span class="svg-icon svg-icon-warning"><i class="icon-xl   flaticon2-mail"></i>
                                </span>
                            </div>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold">
                                Email
                            </div>
                            <div class="text-muted">
                                <asp:Label ID="lblUserEmail" Text="Email" runat="server"></asp:Label>
                            </div>
                        </div>
                    </div>
                </span>
                <!--end:Item-->
                <!--begin::Item-->
                <span class="navi-item" runat="server" visible="false">
                    <div class="navi-link">
                        <div class="symbol symbol-40 bg-light mr-3">
                            <div class="symbol-label">
                                <span class="svg-icon svg-icon-success"><i class="icon-xl  flaticon2-map"></i></span>
                            </div>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold">
                                Login Ip
                            </div>
                            <div class="text-muted">
                                <asp:Label ID="lblLastLogin" Text="Last Login" runat="server"></asp:Label>
                            </div>
                        </div>
                    </div>
                </span>
                <!--end:Item-->
                <!--begin::Item-->
                <a href="GlobalConfig.aspx" class="navi-item">
                    <div class="navi-link">
                        <div class="symbol symbol-40 bg-light mr-3">
                            <div class="symbol-label">
                                <span class="svg-icon svg-icon-danger"><i class="icon-xl fab fa-cc-visa"></i></span>
                            </div>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold">
                                Payment Gateway
                            </div>
                            <div class="text-muted">
                                <asp:CheckBox ID="chkpayment" runat="server" TabIndex="19" Checked="true" AutoPostBack="true"
                                    OnCheckedChanged="chkpayment_checkedchange" Visible="false" />
                                <asp:Label ID="lblpayment" runat="server" Style="color: White;"></asp:Label>
                            </div>
                        </div>
                    </div>
                </a>
                <!--end:Item-->
                <!--begin::Item-->
                <a href="GlobalConfig.aspx" class="navi-item">
                    <div class="navi-link">
                        <div class="symbol symbol-40 bg-light mr-3">
                            <div class="symbol-label">
                                <span class="svg-icon svg-icon-primary"><i class="icon-xl  flaticon-email-black-circular-button">
                                </i></span>
                            </div>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold">
                                Mail Configuration
                            </div>
                            <div class="text-muted">
                                <asp:Label ID="lblMailConfig" runat="server"></asp:Label>
                                <asp:RadioButtonList ID="rblMailConfig" runat="server" TabIndex="20" AutoPostBack="true"
                                    Visible="false" RepeatDirection="Horizontal" RepeatColumns="2" OnSelectedIndexChanged="rblMailConfig_SelectedIndexChanged">
                                    <asp:ListItem Text="Office 365" Value="O" Selected="True"></asp:ListItem>
                                    <asp:ListItem Text="SMTP" Value="S"></asp:ListItem>
                                </asp:RadioButtonList>
                            </div>
                        </div>
                    </div>
                </a>
                <!--end:Item-->
                <!--begin::Item custom/apps/userprofile-1/overview.html-->
                <a href="GlobalConfig.aspx" class="navi-item">
                    <div class="navi-link">
                        <div class="symbol symbol-40 bg-light mr-3">
                            <div class="symbol-label">
                                <span class="svg-icon svg-icon-primary"><i class="icon-xl fas fa-sms"></i></span>
                            </div>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold">
                                Enable SMS
                            </div>
                            <div class="text-muted">
                                <asp:Label ID="lblEnableSMS" runat="server"></asp:Label>
                                <asp:RadioButtonList ID="rblEnableSMS" runat="server" TabIndex="21" AutoPostBack="true"
                                    Visible="false" RepeatDirection="Horizontal" RepeatColumns="2" OnSelectedIndexChanged="rblEnableSMS_SelectedIndexChanged">
                                    <asp:ListItem Text="No" Value="N" Selected="True"></asp:ListItem>
                                    <asp:ListItem Text="Yes (Twilio)" Value="Y"></asp:ListItem>
                                </asp:RadioButtonList>
                            </div>
                        </div>
                    </div>
                </a><a href="GlobalConfig.aspx" class="navi-item">
                    <div class="navi-link">
                        <div class="symbol symbol-40 bg-light mr-3">
                            <div class="symbol-label">
                                <span class="svg-icon svg-icon-primary"><i class="icon-xl fa fa-clock"></i></span>
                            </div>
                        </div>
                        <div class="navi-text">
                            <div class="font-weight-bold">
                                Flight Hours
                            </div>
                            <div class="text-muted">
                                <asp:Label ID="lblFilghtHourFlag" runat="server"></asp:Label>
                                <asp:RadioButtonList ID="rblFlightHours" runat="server" TabIndex="20" RepeatDirection="Horizontal"
                                    Visible="false" AutoPostBack="true" RepeatColumns="3" OnSelectedIndexChanged="rblFlightHours_SelectedIndexChanged">
                                    <asp:ListItem Text="Fore Flight API" Value="FF" Selected="True"></asp:ListItem>
                                    <asp:ListItem Text="Great Circle API" Value="GC"></asp:ListItem>
                                    <asp:ListItem Text="Manual Calculate" Value="MN"></asp:ListItem>
                                </asp:RadioButtonList>
                            </div>
                        </div>
                    </div>
                </a>
                <!--end:Item-->
            </div>
            <!--end::Nav-->
        </div>
        <!--end::Content-->
    </div>
    <!-- end::User Panel-->
    <!--begin::Chat Panel-->
    <div class="modal modal-sticky modal-sticky-bottom-right" id="kt_chat_modal" role="dialog"
        data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--begin::Card-->
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header align-items-center px-4 py-3">
                        <div class="text-left flex-grow-1">
                            <!--begin::Dropdown Menu-->
                            <div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <span class="svg-icon svg-icon-lg">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"/>
        <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
        <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
    </g>
</svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </button>
                                <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-md">
                                    <!--begin::Navigation-->
                                    <ul class="navi navi-hover py-5">
                                        <li class="navi-item"><a href="#" class="navi-link"><span class="navi-icon"><i class="flaticon2-drop">
                                        </i></span><span class="navi-text">New Group</span> </a></li>
                                        <li class="navi-item"><a href="#" class="navi-link"><span class="navi-icon"><i class="flaticon2-list-3">
                                        </i></span><span class="navi-text">Contacts</span> </a></li>
                                        <li class="navi-item"><a href="#" class="navi-link"><span class="navi-icon"><i class="flaticon2-rocket-1">
                                        </i></span><span class="navi-text">Groups</span> <span class="navi-link-badge"><span
                                            class="label label-light-primary label-inline font-weight-bold">new</span> </span>
                                        </a></li>
                                        <li class="navi-item"><a href="#" class="navi-link"><span class="navi-icon"><i class="flaticon2-bell-2">
                                        </i></span><span class="navi-text">Calls</span> </a></li>
                                        <li class="navi-item"><a href="#" class="navi-link"><span class="navi-icon"><i class="flaticon2-gear">
                                        </i></span><span class="navi-text">Settings</span> </a></li>
                                        <li class="navi-separator my-3"></li>
                                        <li class="navi-item"><a href="#" class="navi-link"><span class="navi-icon"><i class="flaticon2-magnifier-tool">
                                        </i></span><span class="navi-text">Help</span> </a></li>
                                        <li class="navi-item"><a href="#" class="navi-link"><span class="navi-icon"><i class="flaticon2-bell-2">
                                        </i></span><span class="navi-text">Privacy</span> <span class="navi-link-badge"><span
                                            class="label label-light-danger label-rounded font-weight-bold">5</span> </span>
                                        </a></li>
                                    </ul>
                                    <!--end::Navigation-->
                                </div>
                            </div>
                            <!--end::Dropdown Menu-->
                        </div>
                        <div class="text-center flex-grow-1">
                            <div class="text-dark-75 font-weight-bold font-size-h5">
                                Matt Pears</div>
                            <div>
                                <span class="label label-dot label-success"></span><span class="font-weight-bold text-muted font-size-sm">
                                    Active</span>
                            </div>
                        </div>
                        <div class="text-right flex-grow-1">
                            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-dismiss="modal">
                                <i class="ki ki-close icon-1x"></i>
                            </button>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Scroll-->
                        <div class="scroll scroll-pull" data-height="375" data-mobile-height="300">
                            <!--begin::Messages-->
                            <div class="messages">
                                <!--begin::Message In-->
                                <div class="d-flex flex-column mb-5 align-items-start">
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-40 mr-3">
                                            <img alt="Pic" src="assets/media/users/300_12.jpg" />
                                        </div>
                                        <div>
                                            <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">Matt
                                                Pears</a> <span class="text-muted font-size-sm">2 Hours</span>
                                        </div>
                                    </div>
                                    <div class="mt-2 rounded p-5 bg-light-success  font-weight-bold font-size-lg text-left max-w-400px">
                                        How likely are you to recommend our company to your friends and family?
                                    </div>
                                </div>
                                <!--end::Message In-->
                                <!--begin::Message Out-->
                                <div class="d-flex flex-column mb-5 align-items-end">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <span class="text-muted font-size-sm">3 minutes</span> <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">
                                                You</a>
                                        </div>
                                        <div class="symbol symbol-circle symbol-40 ml-3">
                                            <img alt="Pic" src="assets/media/users/300_21.jpg" />
                                        </div>
                                    </div>
                                    <div class="mt-2 rounded p-5 bg-light-primary  font-weight-bold font-size-lg text-right max-w-400px">
                                        Hey there, we’re just writing to let you know that you’ve been subscribed to a repository
                                        on GitHub.
                                    </div>
                                </div>
                                <!--end::Message Out-->
                                <!--begin::Message In-->
                                <div class="d-flex flex-column mb-5 align-items-start">
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-40 mr-3">
                                            <img alt="Pic" src="assets/media/users/300_21.jpg" />
                                        </div>
                                        <div>
                                            <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">Matt
                                                Pears</a> <span class="text-muted font-size-sm">40 seconds</span>
                                        </div>
                                    </div>
                                    <div class="mt-2 rounded p-5 bg-light-success  font-weight-bold font-size-lg text-left max-w-400px">
                                        Ok, Understood!
                                    </div>
                                </div>
                                <!--end::Message In-->
                                <!--begin::Message Out-->
                                <div class="d-flex flex-column mb-5 align-items-end">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <span class="text-muted font-size-sm">Just now</span> <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">
                                                You</a>
                                        </div>
                                        <div class="symbol symbol-circle symbol-40 ml-3">
                                            <img alt="Pic" src="assets/media/users/300_21.jpg" />
                                        </div>
                                    </div>
                                    <div class="mt-2 rounded p-5 bg-light-primary  font-weight-bold font-size-lg text-right max-w-400px">
                                        You’ll receive notifications for all issues, pull requests!
                                    </div>
                                </div>
                                <!--end::Message Out-->
                                <!--begin::Message In-->
                                <div class="d-flex flex-column mb-5 align-items-start">
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-40 mr-3">
                                            <img alt="Pic" src="assets/media/users/300_12.jpg" />
                                        </div>
                                        <div>
                                            <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">Matt
                                                Pears</a> <span class="text-muted font-size-sm">40 seconds</span>
                                        </div>
                                    </div>
                                    <div class="mt-2 rounded p-5 bg-light-success  font-weight-bold font-size-lg text-left max-w-400px">
                                        You can unwatch this repository immediately by clicking here: <a href="#">https://github.com</a>
                                    </div>
                                </div>
                                <!--end::Message In-->
                                <!--begin::Message Out-->
                                <div class="d-flex flex-column mb-5 align-items-end">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <span class="text-muted font-size-sm">Just now</span> <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">
                                                You</a>
                                        </div>
                                        <div class="symbol symbol-circle symbol-40 ml-3">
                                            <img alt="Pic" src="assets/media/users/300_21.jpg" />
                                        </div>
                                    </div>
                                    <div class="mt-2 rounded p-5 bg-light-primary  font-weight-bold font-size-lg text-right max-w-400px">
                                        Discover what students who viewed Learn Figma - UI/UX Design. Essential Training
                                        also viewed
                                    </div>
                                </div>
                                <!--end::Message Out-->
                                <!--begin::Message In-->
                                <div class="d-flex flex-column mb-5 align-items-start">
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-40 mr-3">
                                            <img alt="Pic" src="assets/media/users/300_12.jpg" />
                                        </div>
                                        <div>
                                            <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">Matt
                                                Pears</a> <span class="text-muted font-size-sm">40 seconds</span>
                                        </div>
                                    </div>
                                    <div class="mt-2 rounded p-5 bg-light-success  font-weight-bold font-size-lg text-left max-w-400px">
                                        Most purchased Business courses during this sale!
                                    </div>
                                </div>
                                <!--end::Message In-->
                                <!--begin::Message Out-->
                                <div class="d-flex flex-column mb-5 align-items-end">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <span class="text-muted font-size-sm">Just now</span> <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">
                                                You</a>
                                        </div>
                                        <div class="symbol symbol-circle symbol-40 ml-3">
                                            <img alt="Pic" src="assets/media/users/300_21.jpg" />
                                        </div>
                                    </div>
                                    <div class="mt-2 rounded p-5 bg-light-primary  font-weight-bold font-size-lg text-right max-w-400px">
                                        Company BBQ to celebrate the last quater achievements and goals. Food and drinks
                                        provided
                                    </div>
                                </div>
                                <!--end::Message Out-->
                            </div>
                            <!--end::Messages-->
                        </div>
                        <!--end::Scroll-->
                    </div>
                    <!--end::Body-->
                    <!--begin::Footer-->
                    <div class="card-footer align-items-center">
                        <!--begin::Compose-->
                        <textarea class="form-control border-0 p-0" rows="2" placeholder="Type a message"></textarea>
                        <div class="d-flex align-items-center justify-content-between mt-5">
                            <div class="mr-3">
                                <a href="#" class="btn btn-clean btn-icon btn-md mr-1"><i class="flaticon2-photograph icon-lg">
                                </i></a><a href="#" class="btn btn-clean btn-icon btn-md"><i class="flaticon2-photo-camera  icon-lg">
                                </i></a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary btn-md text-uppercase font-weight-bold chat-send py-2 px-6">
                                    Send</button>
                            </div>
                        </div>
                        <!--begin::Compose-->
                    </div>
                    <!--end::Footer-->
                </div>
                <!--end::Card-->
            </div>
        </div>
    </div>
    <!--end::Chat Panel-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop">
        <span class="svg-icon"><i class="fa fa-arrow-up"></i></span>
    </div>
    <!--end::Scrolltop-->
    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1200
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#663259",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#F3F6F9",
                        "dark": "#212121"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#F4E1F0",
                        "secondary": "#ECF0F3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#212121",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#ECF0F3",
                    "gray-300": "#E5EAEE",
                    "gray-400": "#D6D6E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#80808F",
                    "gray-700": "#464E5F",
                    "gray-800": "#1B283F",
                    "gray-900": "#212121"
                }
            },
            "font-family": "Gotham"
        };
    </script>
    <script type="text/javascript" src="../assets/vendors/general/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="../assets/vendors/general/tooltip.js/dist/umd/tooltip.min.js"></script>
    <script type="text/javascript" src="assets/plugins/global/plugins.bundle.js"></script>
    <script type="text/javascript" src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script type="text/javascript" src="assets/js/scripts.bundle.js"></script>
    <script type="text/javascript" src="assets/js/pages/widgets.js"></script>
    <script type="text/javascript" src="../assets/vendors/general/popper.js/dist/umd/popper.js"></script>
    <script type="text/javascript" src="../assets/vendors/general/summernote/dist/summernote.js"></script>
    <script type="text/javascript" src="assets/js/pages/crud/forms/editors/summernote.js"></script>
    <script type="text/javascript" src="../assets/js/Common.js"></script>
    <script type="text/javascript" src="assets/js/Loader.js"></script>
    </form>
</body>
<!--end::Body-->
</html>
