.book-a-flight-box {
    overflow: hidden;
    width: 10vw;
  }
.form-botton {
    display: none;
  }
.book-button-in {
  width: 420px;
  height: 40px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.book-text {
  position: relative;
 float: left;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}