﻿
 .css-button {
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    background: linear-gradient(180deg, #99cd32 5%, #79a919 100%);
    box-shadow: 0px 10px 14px -7px #616174;
    width:50%;
    
}
 .css-button:hover {
    background: linear-gradient(180deg, #79a919 5%, #99cd32 100%);
}
 .css-button:active {
    position: relative;
    top: 1px;
}
 .css-button-text {
    padding:15px 18px;
    float: left;
}
 .css-button-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
    border-radius: 5px 0 0 5px;
    padding: 7px 10px;
    float: left;
}
.BUTTON_WON {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #070816;
   font-family: Open Sans;
   font-size: 14px;
   font-weight: 700;
   padding: 13px;
   background-color: #3DF6F6;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_WON:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

