﻿  .btncommonjet
        {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 8px 8px;
            border: 1px solid rgb(178, 30, 40);
            border-radius: 0px;
            background-color: rgb(178, 30, 40);
            font-size: 12px;
            font-family: Gotham, sans-serif;
            color: #FFFFFF;
            text-decoration: none;
           width:120px;
           font-weight:bold;
            text-transform:uppercase;
        }
        .btncommonjet:hover, .btncommonjet:focus
        {
            border: 1px solid rgb(178, 30, 40);
            background-color: rgb(178, 30, 40);
             width:120px;
            color: #FFFFFF;
            text-decoration: none;
           
        }
        .btncommonjet:active
        {
            background-color: rgb(178, 30, 40);
             width:120px;
        }
        .btncommonclose
        {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 8px 8px;
            border: 1px solid rgb(178, 30, 40);
            border-radius: 0px;
            background-color: rgb(178, 30, 40);
            font-size: 12px;
            font-family: Gotham, sans-serif;
            color: rgb(255,255,255);
            text-decoration: none;
         
           font-weight:bold;
            text-transform:uppercase;
        }
        
        .btnapply
        {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 6px 6px;
            border: 1px solid rgb(178, 30, 40);
            border-radius: 0px;
            background-color: rgb(178, 30, 40);
            font-size: 14px;
            font-family: Gotham, sans-serif;
            color: rgb(255,255,255);
            text-decoration: none;
         
           font-weight:bold;
            text-transform:uppercase;
        }