﻿
 .Savebutton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	/*background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);*/
	background:green;
	background-color:green;
	border-radius:6px;
	border:1px solid green;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
/*	text-shadow:0px 1px 0px #1570cd;*/
}
.Savebutton:hover {
	/*background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);*/
	background:green;
	background-color:green;
}
.Savebutton:active {
	position:relative;
	top:1px;
}

 .ViewButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #1e62d0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	/*text-shadow:0px 1px 0px #1570cd;*/
}
.Savebutton:hover {
	/*background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);*/
	background:green;
	background-color:green;
}
.Savebutton:active {
	position:relative;
	top:1px;
}
 .Closebutton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #d58512 5%, #ec971f 100%);
	background-color:#ec971f;
	border-radius:6px;
	border:1px solid #d58512;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	/*text-shadow:0px 1px 0px #1570cd;*/
}
