﻿  .btncommonjet
        {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 8px 8px;
            border: 1px solid #b72025;
            border-radius: 0px;
            background-color: #b72025;
            font-size: 13px;
            font-family: Gotham, sans-serif;
            color: #FFFFFF;
            text-decoration: none;
          
           font-weight:bold;
            text-transform:uppercase;
        }
        .btncommonjet:hover, .btncommonjet:focus
        {
            border: 1px solid #b72025;
            background-color: #b72025;
            
            color: #FFFFFF;
            text-decoration: none;
           
        }
        .btncommonjet:active
        {
            background-color: #b72025;
            
        }