﻿
        .cusform-cuscontainer .cusfield-cuscontainer:first-of-type
        {
            grid-area: name;
        }
        
        .cusform-cuscontainer .cusfield-cuscontainer:nth-of-type(2)
        {
            grid-area: number;
        }
        
        .cusform-cuscontainer .cusfield-cuscontainer:nth-of-type(3)
        {
            grid-area: expiration;
        }
        
        .cusform-cuscontainer .cusfield-cuscontainer:nth-of-type(4)
        {
            grid-area: security;
        }
        
        .cusfield-cuscontainer .cusinput
        {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
   
        .cusfield-cuscontainer
        {
            position: relative;
        }
        
        .cusform-cuscontainer
        {
            display: grid;
            grid-column-gap: 10px;
            grid-template-columns: auto auto;
            grid-template-rows: 90px 90px 90px;
            grid-template-areas: "name name" "number number" "expiration security";
            max-width: 400px;
            padding: 20px;
            color: #707070;
        }
        
        .cuslabel
        {
            padding-bottom: 5px;
            font-size: 13px;
            font-family:Gotham;
            font-size: 15px;
            color:Black
        }
     
        .cusinput
        {
            margin-top: 3px;
            padding: 15px;
            font-size: 16px;
            width: 100%;
            border-radius: 3px;
            border: 1px solid #dcdcdc;
                       font-family:Gotham;
        }
        
      
        
        .ccicon
        {
            height: 38px;
            position: absolute;
            right: 6px;
            top: calc(50% - 17px);
            width: 60px;
        }
        
        /* CREDIT CARD IMAGE STYLING */
        .cuspreload *
        {
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -ms-transition: none !important;
            -o-transition: none !important;
        }
        
        .cuscontainer
        {
            width: 100%;
            max-width: 400px;
            max-height: 251px;
            height: 54vw;
            padding: 20px;
                        font-family:Gotham;
        }
        
        #ccsingle
        {
            position: absolute;
            right: 15px;
            top: 20px;
        }
        
        #ccsingle svg
        {
            width: 100px;
            max-height: 60px;
        }
        
        .cuscreditcard svg#cardfront, .cuscreditcard svg#cardback
        {
            width: 100%;
            -webkit-box-shadow: 1px 5px 6px 0px black;
            box-shadow: 1px 5px 6px 0px black;
            border-radius: 22px;
        }
        
        #generatecard
        {
            cursor: pointer;
            float: right;
            font-size: 12px;
            color: #fff;
            padding: 2px 4px;
            background-color: #909090;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }
        
        /* CHANGEABLE CARD ELEMENTS */
        .cuscreditcard .lightcolor, .cuscreditcard .darkcolor
        {
            -webkit-transition: fill .5s;
            transition: fill .5s;
        }
        
        .cuscreditcard .lightblue
        {
            fill: #03A9F4;
        }
        
        .cuscreditcard .lightbluedark
        {
            fill: #0288D1;
        }
        
        .cuscreditcard .red
        {
            fill: #ef5350;
        }
        
        .cuscreditcard .reddark
        {
            fill: #d32f2f;
        }
        
        .cuscreditcard .purple
        {
            fill: #ab47bc;
        }
        
        .cuscreditcard .purpledark
        {
            fill: #7b1fa2;
        }
        
        .cuscreditcard .cyan
        {
            fill: #26c6da;
        }
        
        .cuscreditcard .cyandark
        {
            fill: #0097a7;
        }
        
        .cuscreditcard .green
        {
            fill: #66bb6a;
        }
        
        .cuscreditcard .greendark
        {
            fill: #388e3c;
        }
        
        .cuscreditcard .lime
        {
            fill: #d4e157;
        }
        
        .cuscreditcard .limedark
        {
            fill: #afb42b;
        }
        
        .cuscreditcard .yellow
        {
            fill: #ffeb3b;
        }
        
        .cuscreditcard .yellowdark
        {
            fill: #f9a825;
        }
        
        .cuscreditcard .orange
        {
            fill: #ff9800;
        }
        
        .cuscreditcard .orangedark
        {
            fill: #ef6c00;
        }
        
        .cuscreditcard .grey
        {
            fill: #bdbdbd;
        }
        
        .cuscreditcard .greydark
        {
            fill: #616161;
        }
        
        /* FRONT OF CARD */
        #svgname
        {
            text-transform: uppercase;
        }
        
        #cardfront .st2
        {
            fill: #FFFFFF;
        }
        
        #cardfront .st3
        {
            font-family: 'Source Code Pro' , monospace;
            font-weight: 600;
        }
        
        #cardfront .st4
        {
            font-size: 54.7817px;
        }
        
        #cardfront .st5
        {
            font-family: 'Source Code Pro' , monospace;
            font-weight: 400;
        }
        
        #cardfront .st6
        {
            font-size: 33.1112px;
        }
        
        #cardfront .st7
        {
            opacity: 0.6;
            fill: #FFFFFF;
        }
        
        #cardfront .st8
        {
            font-size: 24px;
        }
        
        #cardfront .st9
        {
            font-size: 36.5498px;
        }
        
        #cardfront .st10
        {
            font-family: 'Source Code Pro' , monospace;
            font-weight: 300;
        }
        
        #cardfront .st11
        {
            font-size: 16.1716px;
        }
        
        #cardfront .st12
        {
            fill: #4C4C4C;
        }
        
        /* BACK OF CARD */
        #cardback .st0
        {
            fill: none;
            stroke: #0F0F0F;
            stroke-miterlimit: 10;
        }
        
        #cardback .st2
        {
            fill: #111111;
        }
        
        #cardback .st3
        {
            fill: #F2F2F2;
        }
        
        #cardback .st4
        {
            fill: #D8D2DB;
        }
        
        #cardback .st5
        {
            fill: #C4C4C4;
        }
        
        #cardback .st6
        {
            font-family: 'Source Code Pro' , monospace;
            font-weight: 400;
        }
        
        #cardback .st7
        {
            font-size: 27px;
        }
        
        #cardback .st8
        {
            opacity: 0.6;
        }
        
        #cardback .st9
        {
            fill: #FFFFFF;
        }
        
        #cardback .st10
        {
            font-size: 24px;
        }
        
        #cardback .st11
        {
            fill: #EAEAEA;
        }
        
        #cardback .st12
        {
            font-family: 'Rock Salt' , cursive;
        }
        
        #cardback .st13
        {
            font-size: 37.769px;
        }
        
        /* FLIP ANIMATION */
        .cuscontainer
        {
            perspective: 1000px;
        }
        
        .cuscreditcard
        {
            width: 100%;
            max-width: 400px;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transition: -webkit-transform 0.6s;
            -webkit-transition: -webkit-transform 0.6s;
            transition: transform 0.6s;
            transition: transform 0.6s, -webkit-transform 0.6s;
            cursor: pointer;
        }
        
        .cuscreditcard .front, .cuscreditcard .back
        {
            position: absolute;
            width: 100%;
            max-width: 400px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-font-smoothing: antialiased;
            color: #47525d;
        }
        
        .cuscreditcard .back
        {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
        
        .cuscreditcard.flipped
        {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
    