﻿        .body
        {
            background-color:WhiteSmoke;
            font-family: Gotham, sans-serif;
        }
        .style1
        {
            width: 13%;
        }
        .style2
        {
            width: 3%;
        }
        .style3
        {
            width: 32%;
        }
  
        .tutorial
        {
            width: 80%;
            margin: 2% auto 0 auto;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            background-color: #000000;
            max-width: 800px;
        }
        .tutorial .slider
        {
            width: 100%;
            height: 300px;
            background-color: #F03861;
        }
        .tutorial .information
        {
            width: 100%;
            padding: 20px 50px;
            margin-bottom: 30px;
            font-family: "Open Sans" , sans-serif;
        }
        .tutorial .information h1
        {
            color: #fff;
            font-size: 1.5rem;
            padding: 0px 10px;
            border-left: 3px solid #F03861;
        }
        .tutorial .information h3
        {
            color: #e0e0e0;
            font-size: 1rem;
            font-weight: 300;
            padding: 0px 10px;
            border-left: 3px solid #F03861;
        }
        .tutorial .information p
        {
            padding: 10px 0px;
        }
        .tutorial ul
        {
            font-size: 0;
            list-style-type: none;
            z-index: 2;
        }
        .tutorial ul li
        {
            font-family: "Open Sans" , sans-serif;
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
            display: inline-block;
            padding: 15px;
            position: relative;
            width: 150px;
        }
        .tutorial ul li ul
        {
            display: none;
            width: 300px;
        }
        .tutorial ul li:hover
        {
            cursor: pointer;
            background-color: #70acea;
        }
        .tutorial ul li:hover ul
        {
            display: block;
            margin-top: 15px;
            width: 300px;
            left: 0;
            position: absolute;
        }
        .tutorial ul li:hover ul li
        {
            display: block;
            background-color: #70acea;
            text-align: left;
            width: 300px;
        }
        .tutorial ul li:hover ul li span
        {
            float: right;
            color: #f9f9f9;
            background-color: #3c6bf1;
            padding: 2px 5px;
            text-align: center;
            font-size: .8rem;
            border-radius: 3px;
            text-align: left;
        }
        .tutorial ul li:hover ul li:hover
        {
            background-color: #3c6bf1;
        }
        .tutorial ul li:hover ul li:hover span
        {
            background-color: #ee204e;
        }
 
        #cody-info
        {
            position: relative;
            background: #FFF;
            height: 44px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        }
        #cody-info .cody-info-logo
        {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -15px;
            margin-top: -13px;
        }
        #cody-info .cody-info-logo svg
        {
            display: block;
            -webkit-transition: opacity, 0.2s;
            -moz-transition: opacity, 0.2s;
            transition: opacity, 0.2s;
        }
        #cody-info .cody-info-logo svg:hover
        {
            opacity: .9;
        }
        #cody-info .cody-info-logo .cody-info-logo-svg
        {
            fill: #343642;
        }
        #cody-info li
        {
            position: absolute;
            top: 0;
        }
        #cody-info li:first-child
        {
            left: 0;
        }
        #cody-info li:last-child
        {
            right: 0;
        }
        #cody-info li a
        {
            display: block;
            width: 44px;
            height: 44px;
            position: relative;
            -webkit-transition: background 0.2s;
            -moz-transition: background 0.2s;
            transition: background 0.2s;
        }
        #cody-info li a:hover
        {
            background-color: #29889b;
        }
        #cody-info li a:hover .cody-info-buttons-svg
        {
            fill: #FFF;
        }
        #cody-info li svg
        {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -16px;
            margin-left: -16px;
        }
        #cody-info li .cody-info-buttons-svg
        {
            fill: #29889b;
        }
        #cody-info.cody-info-bottom
        {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 1;
            box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
        }
        #cody-info::after
        {
            content: '';
            display: table;
            clear: both;
        }
        @media only screen and (min-width: 600px)
        {
            #cody-info
            {
                height: 60px;
            }
            #cody-info li a
            {
                height: 60px;
                width: 60px;
            }
        }
        header[role=banner]
        {
            position: relative;
            height: 63px;
             background: rgb(17, 24, 32);
         /*   background: #000000;*/
          /*  border-bottom-left-radius: 0.8rem;
            border-bottom-right-radius: 0.8rem;*/
        }
        header[role=banner] 
        {
            float: left;
            margin: 4px 0 0 1%; /* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
            -webkit-transform-origin: 0 50%;
            -moz-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            -o-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            -o-transform: scale(0.8);
            transform: scale(0.8);
        }
        header[role=banner] 
        {
            display: block;
        }
        header[role=banner]::after
        {
            /* clearfix */
            content: '';
            display: table;
            clear: both;
        }
        @media only screen and (min-width: 768px)
        {
           /* header[role=banner]
            {
                height: 70px;
                position:fixed;
                top:0px;
                clear:both;
                z-index: 999; 
                
            }
            header[role=banner] #cd-logo
            {
                margin: 0px 0 0 0%;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }*/
             .header
            {
                height: 76px;
                position:fixed;
                top:0px;
                clear:both;
                z-index: 999; 
                background: rgb(17, 24, 32);
                
            }
           .header, 
            {
                margin: 0px 0 0 0%;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
                
            }
             .header1
            {
                height: 74px;
                position:fixed;
                top:0px;
                clear:both;
                z-index: 999; 
                background: rgb(17, 24, 32);
                
            }
           .header1, 
            {
                margin: 0px 0 0 0%;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
             
        }
        
        .main-nav
        {
            float: right;
            margin-right: 5%;
            width: 44px;
            height: 100%;
            background: url("../img/cd-icon-menu.svg") no-repeat center center;
            cursor: pointer;
        }
        .main-nav ul
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        .main-nav ul.is-visible
        {
            -webkit-transform: translateY(50px);
            -moz-transform: translateY(50px);
            -ms-transform: translateY(50px);
            -o-transform: translateY(50px);
            transform: translateY(50px);
        }
        .main-nav a
        {
            display: block;
            height: 50px;
            line-height: 50px;
            padding-left: 5%;
            background: #292a34;
            border-top: 1px solid #3b3d4b;
            color: #FFF;
        }
        @media only screen and (min-width: 768px)
        {
            .main-nav
            {
                width: auto;
                height: auto;
                background: none;
                cursor: auto;
            }
            .main-nav ul
            {
                position: static;
                width: auto;
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                transform: translateY(0);
                line-height: 70px;
            }
            .main-nav ul.is-visible
            {
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                transform: translateY(0);
            }
            .main-nav li
            {
                display: inline-block;
                margin-left: 1em;
            }
            .main-nav li:nth-last-child(2)
            {
                margin-left: 1em;
            }
            .main-nav a
            {
                display: inline-block;
                height: auto;
                line-height: normal;
                background: transparent;
            }
            .main-nav a.cd-signin, .main-nav a.cd-signup
            {
                padding: .6em 1em;
                border: 1px solid red;
                border-radius:10px;
            }
            .main-nav a.cd-signup
            {
                background: #f55e5e;
                border: none;
            }
            
              .main-nav a.cd-signin-inactive
            {
                padding: .6em 1em;
                border: 1px solid #414247;
                border-radius:10px;
            }
           
         
            
        }
        
        
        .cd-user-modal
        {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(52, 54, 66, 0.9);
            z-index: 3;
            overflow-y: auto;
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
            -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
            transition: opacity 0.3s 0, visibility 0 0.3s;
        }
        .cd-user-modal.is-visible
        {
            visibility: visible;
            opacity: 1;
            -webkit-transition: opacity 0.3s 0, visibility 0 0;
            -moz-transition: opacity 0.3s 0, visibility 0 0;
            transition: opacity 0.3s 0, visibility 0 0;
        }
        .cd-user-modal.is-visible .cd-user-modal-container
        {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }
        
        .cd-user-modal-container
        {
            position: relative;
            width: 90%;
            max-width: 600px;
            background: #FFF;
            margin: 3em auto 4em;
            cursor: auto;
            border-radius: 0.25em;
            -webkit-transform: translateY(-30px);
            -moz-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            -o-transform: translateY(-30px);
            transform: translateY(-30px);
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }
        .cd-user-modal-container .cd-switcher:after
        {
            content: "";
            display: table;
            clear: both;
        }
        .cd-user-modal-container .cd-switcher li
        {
            width: 50%;
            float: left;
            text-align: center;
        }
        .cd-user-modal-container .cd-switcher li:first-child a
        {
            border-radius: .25em 0 0 0;
        }
        .cd-user-modal-container .cd-switcher li:last-child a
        {
            border-radius: 0 .25em 0 0;
        }
        .cd-user-modal-container .cd-switcher a
        {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
            background: #ddefee;
            color: #809191;
        }
        .cd-user-modal-container .cd-switcher a.selected
        {
            background: #bbd0ca;
            color: #505260;
        }
        @media only screen and (min-width: 600px)
        {
            .cd-user-modal-container
            {
                margin: 4em auto;
            }
            .cd-user-modal-container .cd-switcher a
            {
                height: 70px;
                line-height: 70px;
            }
        }
        
        .cd-form
        {
            padding: 1.4em;
        }
        .cd-form .fieldset
        {
            position: relative;
            margin: 1.4em 0;
        }
        .cd-form .fieldset:first-child
        {
            margin-top: 0;
        }
        .cd-form .fieldset:last-child
        {
            margin-bottom: 0;
        }
        .cd-form label
        {
            font-size: 14px;
            font-size: 0.875rem;
        }
        .cd-form label.image-replace
        {
            /* replace text with an icon */
            display: inline-block;
            position: absolute;
            left: 15px;
            top: 50%;
            bottom: auto;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            height: 20px;
            width: 20px;
            overflow: hidden;
            text-indent: 100%;
            white-space: nowrap;
            color: transparent;
            text-shadow: none;
            background-repeat: no-repeat;
            background-position: 50% 0;
        }
        .cd-form label.cd-username
        {
            background-image: url("../img/cd-icon-username.svg");
        }
        .cd-form label.cd-email
        {
            background-image: url("../img/cd-icon-email.svg");
        }
        .cd-form label.cd-password
        {
            background-image: url("../img/cd-icon-password.svg");
        }
        .cd-form input
        {
            margin: 0;
            padding: 0;
            border-radius: 0.25em;
        }
        .cd-form input.full-width
        {
            width: 100%;
        }
        .cd-form input.has-padding
        {
            padding: 12px 20px 12px 50px;
        }
        .cd-form input.has-border
        {
            border: 1px solid #d2d8d8;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
        }
        .cd-form input.has-border:focus
        {
            border-color: #343642;
            box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
            outline: none;
        }
        .cd-form input.has-error
        {
            border: 1px solid #d76666;
        }
        .cd-form input[type=password]
        {
            /* space left for the HIDE button */
            padding-right: 65px;
        }
        .cd-form input[type=submit]
        {
            padding: 16px 0;
            cursor: pointer;
            background: #16a9ff;
            color: #FFF;
            font-weight: bold;
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
        }
        .no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus
        {
            background: #3599ae;
            outline: none;
        }
        .cd-form .hide-password
        {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            padding: 6px 15px;
            border-left: 1px solid #d2d8d8;
            top: 50%;
            bottom: auto;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 14px;
            font-size: 0.875rem;
            color: #343642;
        }
        .cd-form .cd-error-message
        {
            display: inline-block;
            position: absolute;
            left: -5px;
            bottom: -35px;
            background: rgba(215, 102, 102, 0.9);
            padding: .8em;
            z-index: 2;
            color: #FFF;
            font-size: 13px;
            font-size: 0.8125rem;
            border-radius: 0.25em; /* prevent click and touch events */
            pointer-events: none;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
            -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
            transition: opacity 0.2s 0, visibility 0 0.2s;
        }
        .cd-form .cd-error-message::after
        {
            /* triangle */
            content: '';
            position: absolute;
            left: 22px;
            bottom: 100%;
            height: 0;
            width: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid rgba(215, 102, 102, 0.9);
        }
        .cd-form .cd-error-message.is-visible
        {
            opacity: 1;
            visibility: visible;
            -webkit-transition: opacity 0.2s 0, visibility 0 0;
            -moz-transition: opacity 0.2s 0, visibility 0 0;
            transition: opacity 0.2s 0, visibility 0 0;
        }
        @media only screen and (min-width: 600px)
        {
            .cd-form
            {
                padding: 2em;
            }
            .cd-form .fieldset
            {
                margin: 2em 0;
            }
            .cd-form .fieldset:first-child
            {
                margin-top: 0;
            }
            .cd-form .fieldset:last-child
            {
                margin-bottom: 0;
            }
            .cd-form input.has-padding
            {
                padding: 16px 20px 16px 50px;
            }
            .cd-form input[type=submit]
            {
                padding: 16px 0;
            }
        }
        
        .cd-form-message
        {
            padding: 1.4em 1.4em 0;
            font-size: 14px;
            font-size: 0.875rem;
            line-height: 1.4;
            text-align: center;
        }
        @media only screen and (min-width: 600px)
        {
            .cd-form-message
            {
                padding: 2em 2em 0;
            }
        }
        
        .cd-form-bottom-message
        {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -30px;
            text-align: center;
            font-size: 14px;
            font-size: 0.875rem;
        }
        .cd-form-bottom-message a
        {
            color: #FFF;
            text-decoration: underline;
        }
        
        .cd-close-form
        {
            /* form X button on top right */
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            right: 0;
            top: -40px;
            background: url("../img/cd-icon-close.svg") no-repeat center center;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
        @media only screen and (min-width: 1170px)
        {
            .cd-close-form
            {
                display: none;
            }
        }
        
        #cd-login, #cd-signup, #cd-reset-password
        {
            display: none;
        }
        
        #cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected
        {
            display: block;
        }
   
        .buttonLogin
        {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 10px 0.9vw 10px 1vw;
            border: 1px solid #b72025;
            border-radius: 2px;
            background-color: #b72025;
            font-size: 13px;
            font-family: Gotham;
            color: #FFFFFF;
            text-decoration: none;
            font-weight:bold;
        }
        .buttonLogin:hover, .buttonLogin:focus
        {
            border: 1px solid #b72025;
            background-color: #b72025;
            color: #FFFFFF;
            text-decoration: none;
            font-weight:bold;
        }
        .buttonLogin:active
        {
            background-color: #b72025;
        }
        
         .buttongrid
        {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 5px 5px;
            border: 1px solid #d2322d;
            border-radius: 2px;
            background-color: #d2322d;
            font-size: 12px;
            font-family: Gotham, sans-serif;
            color: #FFFFFF;
            text-decoration: none;
            font-weight:bold;
        }
        .buttongrid:hover, .buttonLogin:focus
        {
            border: 1px solid #d2322d;
            background-color:#d2322d;
            color: #FFFFFF;
            text-decoration: none;
            font-weight:bold;
        }
        .buttongrid:active
        {
            background-color:#d2322d;
        }
 