﻿.mydatagrid
{
  border: 1px solid #eee;
  font-size: 13px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  font-family: Gotham;
}
.headerblue
{
      text-align: left;
    font-weight: bold;
  color: rgb(17,24,32);
  background-color: rgb(236, 234, 234);
    padding: 1em .5em;
  vertical-align: middle;
     border: 1px solid #eee;
     line-height:28px;
     font-size:13px;
     font-family:Gotham;
}
 
.rows
{
    border: 1px solid rgba(0,0,0,.1);
  background: #fff;
  line-height:25px;
 
}
.rows:hover
{
    background-color: ghostwhite;
    color: rgb(17,24,32);
}
 
.mydatagrid a /** FOR THE PAGING ICONS  **/
{
    
    padding: 5px 5px 5px 5px;
    color: rgb(255,255,255);
    text-decoration: none;
    font-weight: bold;
}
 
.mydatagrid a:hover /** FOR THE PAGING ICONS  HOVER STYLES**/
{
    background-color:rgb(255,255,255);
    color: rgb(17,24,32);
    text-decoration:none;
}
.mydatagrid span /** FOR THE PAGING ICONS CURRENT PAGE INDICATOR **/
{
   
    color: rgb(17,24,32);
    /*padding: 5px 5px 5px 5px;*/
}
.pager
{
    background-color:rgb(154,153,153) ;
    font-family: Gotham;
    color: rgb(255,255,255);
    height: 30px;
    text-align: left;
}
 
.mydatagrid td
{
    padding: 5px;
    font-size:13px;
   
}
.mydatagrid th
{
    padding: 5px;
    font-size:13px;
    background-color:rgb(236, 234, 234);
}
.ModuleName
{
    color:rgb(17,24,32);
    font-family:Gotham;
    font-size:16px;
}






