﻿
.flightticketin {
  margin: 5px;
  border-radius: 5px;
  font-family: Gotham;
  transition: all 200ms ease-in;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
  margin-top: -15px;
  background: #ffffff;
  transition: margin 200ms linear;
  transition-delay: 500ms;
  padding-bottom: 10px;
}

.flightticketin:first-of-type {
  margin-top: 5px;
}
.flightticketin .flightticketin-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease-in;
}
.flightticketin.open {
  margin: 10px 5px 25px 5px;
  padding-bottom: 0;
  transition-delay: 0ms;
}
.flightticketin.open .flightticketin-details {
  max-height: 500px;
  transition: max-height 500ms ease-in;
  transition-delay: 200ms;
}
.flightticketin.color-1 {
  background: #f5f7fa;
  background: -webkit-linear-gradient(left, #f5f7fa, #c3cfe2);
  background: -moz-linear-gradient(left, #f5f7fa, #c3cfe2);
  background: linear-gradient(left, #f5f7fa, #c3cfe2);
}
.flightticketin.color-2 {
  background: #7db6ce;
  background: -webkit-linear-gradient(left, #7db6ce, #6391bf);
  background: -moz-linear-gradient(left, #7db6ce, #6391bf);
  background: linear-gradient(left, #7db6ce, #6391bf);
}
.flightticketin.color-3 {
  background: #dd8d8d;
  background: -webkit-linear-gradient(top left, #dd8d8d, #4a6c87);
  background: -moz-linear-gradient(top left, #dd8d8d, #4a6c87);
  background: linear-gradient(top left, #dd8d8d, #4a6c87);
}
.flightticketin.color-3 .flightticketin-label {
  color: #fff;
}
.flightticketin.color-3 .flightticketin-airportcode {
  color: #fff;
}
.flightticketin.color-3 .flightticketin-icon .material-icons {
  color: #fff;
}
.flightticketin.color-3 .flightticketin-value {
  color: #fff;
}
.flightticketin.color-4 {
  background: #e6e9f0;
  background: -webkit-linear-gradient(top left, #e6e9f0, #eef1f5);
  background: -moz-linear-gradient(top left, #e6e9f0, #eef1f5);
  background: linear-gradient(top left, #e6e9f0, #eef1f5);
}
.flightticketin.color-5 {
  background: #f2994a;
  background: -webkit-linear-gradient(top left, #f2994a, #f2c94c);
  background: -moz-linear-gradient(top left, #f2994a, #f2c94c);
  background: linear-gradient(top left, #f2994a, #f2c94c);
}
.flightticketin.color-6 {
  background: #e0eafc;
  background: -webkit-linear-gradient(top, #e0eafc, #bad1fc);
  background: -moz-linear-gradient(top, #e0eafc, #bad1fc);
  background: linear-gradient(top, #e0eafc, #bad1fc);
}
.flightticketin.color-7 {
  background: #fca5f1;
  background: -webkit-linear-gradient(left, #fca5f1, #b5ffff);
  background: -moz-linear-gradient(left, #fca5f1, #b5ffff);
  background: linear-gradient(left, #fca5f1, #b5ffff);
}
.flightticketin.color-8 {
  background: #5399db;
  background: -webkit-linear-gradient(top right, #5399db, #5153d6);
  background: -moz-linear-gradient(top right, #5399db, #5153d6);
  background: linear-gradient(top right, #5399db, #5153d6);
}
.flightticketin.color-9 {
  background: #304352;
  background: -webkit-linear-gradient(bottom right, #304352, #162851);
  background: -moz-linear-gradient(bottom right, #304352, #162851);
  background: linear-gradient(bottom right, #304352, #162851);
}
.flightticketin.color-9 .flightticketin-label {
  color: #fff;
}
.flightticketin.color-9 .flightticketin-airportcode {
  color: #fff;
}
.flightticketin.color-9 .flightticketin-icon .material-icons {
  color: #fff;
}
.flightticketin.color-9 .flightticketin-value {
  color: #fff;
}
.flightticketin.color-10 {
  background: #ff9a9e;
  background: -webkit-linear-gradient(right, #ff9a9e, #fad0c4);
  background: -moz-linear-gradient(right, #ff9a9e, #fad0c4);
  background: linear-gradient(right, #ff9a9e, #fad0c4);
}
.flightticketin .flightticketin-header {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flightticketin .flightticketin-header .flightticketin-icon {
  padding: 0 10px;
  color: #5d6474;
}
.flightticketin .flightticketin-header .flightticketin-icon .material-icons {
  font-size: 30px;
}
.flightticketin .flightticketin-label {
  display: block;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  color: #5d6474;
}
.flightticketin .flightticketin-airport {
  padding: 5px 10px;
}
.flightticketin .flightticketin-airportcode {
  font-size: 17px;
  margin: 0;
  line-height: 34px;
  font-weight: 600;
  color: #5d6474;
}

