﻿
        .modalBackground
        {
            background-color: Gray;
            filter: alpha(opacity=80);
            opacity: 0.8;
            z-index: 10000;
        }
       
         .modalPopup {
    background-color:#ffffdd;
    border-width:1px;
    border-style:solid;
    border-color:Gray;
    padding:3px;
    width:20%;
    position:absolute;
    top:30px;
   left:80%;
  float:right;
     z-index: 1100;
    }
       
  