﻿

.cusfielduser-cuscontaineruser .cusinputuser
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cusfielduser-cuscontaineruser .cusinputuseruser
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cusfielduser-cuscontaineruser
{
    position: relative;
}

.cusformuser-cuscontaineruser
{
    display: grid;
    grid-column-gap: 10px;
    max-width: 400px;
    padding: 20px;
    color: #000000;
}

.cuslabeluser
{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.15vw;
   font-family:Gotham;
    color: rgb(17,24,32);
    font-weight:400;
}
.cuslabeluserMobile
{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 13px;
   font-family:Gotham;
    color: rgb(17,24,32);
    font-weight:400;
}
.cuslabeluserMobilePopup
{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 13px;
   font-family:Gotham;
    color: rgb(255,255,255);
    font-weight:400;
}
.imgspace
{
    width: 100%;
    height: 100%;
    padding-left: 11px;
    padding-right: 11x;
    padding-top: 11px;
    padding-bottom: 11px;
}
.imgspaceMobile
{
    width:120px;
    height:60px;
    padding-left: 7px;
    padding-right: 7x;
    padding-top: 7px;
    padding-bottom: 7px;
}
.imgspace1
{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.cusinputuser
{
    margin-top: 3px;
    padding: 8px;
     font-size: 1.15vw;
    width: 100%;
    border-radius: 0px;
    border: 1px solid rgb(153,154,154);
    font-family: gotham;
    background-color: ghostwhite;
    color: rgb(17,24,32);
    font-weight:400;
}
.cusinputuserMobile
{
    margin-top: 3px;
    padding: 8px;
     font-size: 15px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #7b7878b3;
    font-family: gotham;
    background-color: ghostwhite;
    color: #000000;
    font-weight:400;
}
.cusinputuserTextbox
{
    margin-top: 3px;
    padding: 8px;
   font-size: 1.15vw;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #7b7878b3;
      font-family: Gotham; 
    background-color: rgb(153,153,154);
    color: rgb(255,255,255);
    font-weight:400;
   
}
.cusinputuserTextbox
{
    margin-top: 3px;
    padding: 8px;
   font-size: 1.15vw;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #7b7878b3;
      font-family: Gotham; 
    background-color: rgb(153,153,154);
    color: rgb(255,255,255);
    font-weight:400;
   
}
.cusinputuserTextboxMobile
{
    margin-top: 3px;
    padding: 8px;
   font-size: 15px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #7b7878b3;
      font-family: Gotham; 
    background-color: rgb(153,153,154);
    color: rgb(255,255,255);
    font-weight:400;
   
}
.select-field {
width: 35%;
    border-style: none;
    border-radius: 0px;
    background-color: rgb(153,153,154);
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.2)), to(hsla(0, 0%, 100%, 0.2)));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 0.2));
    color: rgb(255,255,255);
    font-size: 1vw;
    text-transform: uppercase;

}
.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: rgb(153,153,154);
    border: 1px solid #cccccc;
}
.cuscontaineruser
{
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

.btncommonjet
{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 8px 8px;
    border: 1px solid #b72025;
    border-radius: 0px;
    background-color: #b72025;
    font-size: 12px;
    font-family: Gotham, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    width: 120px;
    font-weight: bold;
    text-transform: uppercase;
}
.btncommonjet:hover, .btncommonjet:focus
{
    border: 1px solid #b72025;
    background-color: #b72025;
    color: #FFFFFF;
    text-decoration: none;
}
.btncommonjet:active
{
    background-color: #b72025;
}
