﻿
body {
  margin: 0;
}

header {
  color: #fff;
  background-color: #000000;
  padding: 0px 0px;
  display: flex;
  font-family: monospace;
  font-size: 16px;
  align-items: center;
  text-transform: uppercase;
  box-sizing: border-box;
}
header > a.logo1 {
  font-size: 40px;
  font-weight: bold;
}
header a {
  color: inherit;
  text-decoration: none;
}
header > a.logo1 > span:first-child {
  color: #fecd00;
}
/*header > a.signup1 {
  background-color: #fe7234;
  padding: 15px 20px;
  margin-left: 30px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}
header > nav {
  margin: 0 auto;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07), 2px 2px 3px rgba(255, 255, 255, 0.07);
  border-radius: 40px;
  padding: 5px;
}
header > nav > ul {
  margin: 0;
  list-style: none;
  display: flex;
  box-shadow: inset 25px 50px 50px rgba(255, 255, 255, 0.07), inset 2px 2px 3px rgba(255, 255, 255, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  border-radius: 40px;
}
header > nav > ul > li {
  margin: 5px 15px;
}
header > nav > ul > li > a {
  display: flex;
  align-items: center;
}
header > nav > ul > li > a::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: 0 0, 0 0, 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 5px #3f55d3;
  flex-basis: 100%;
  max-width: 4px;
  transition: box-shadow 0.3s, background-color 0.3s;
}
header > nav > ul > li > a.active::before, header > nav > ul > li > a:hover::before {
  background-color: #fd7336;
  box-shadow: 0 0 0 0.5px #fd7336, 0 0 0 4px #fff, 0 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0 7px rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1000px) {
  header {
    flex-wrap: wrap;
  }
  header > nav {
    order: 1;
    margin-top: 25px;
    width: 100%;
  }
  header > nav > ul {
    justify-content: center;
  }
  header > a.logo1 {
    margin-right: auto;
  }
}
@media screen and (max-width: 700px) {
  header > nav > ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px) {
  header {
    justify-content: center;
  }
  header > nav {
    margin-top: 10px;
  }
  header > nav > ul {
    justify-content: left;
  }
  header > a.logo1 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  header > a.signup1, header > a.login1 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
*/