﻿
    @keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


div#slidernew 
{
    
     width: 160px;
  height: 95px;
  display: flex;
 
    overflow: hidden;
    margin-left:10px;
     
     }
div#slidernew figure imgnew  
{
     /* width: 20%; 
    float: left; */
     width: 160px;
  height: 95px;
  display: flex;
  
    }
div#slidernew figure { 
  position: relative;
 /* width: 500%;
  height: 10px;*/
     width: 160px;
  height: 95px;
  display: flex;
  margin: 0;
  left: 0;
  
  font-size: 0;
  animation: 10s slidy infinite; 
}

    
    