#top .right .upper .userdetails .username, #top .right .upper .userdetails .username a{color:#036268; text-decoration:none}
#top .right .bottom{height:40px; width:100%; padding:0px; margin:20px}
.menu, .menu *{margin:0px; padding:0px; list-style:none; padding-top:0px;font-size:15px ; margin-left: 1em;margin-top:5px;margin-bottom:10px;text-align:left;color:white}
.menu li{position:relative; margin-left: 0.3em; font-family:'Gotham',sans-serif; font-size:12px; background-image:url(../images/strib.jpg); background-position:right; background-repeat:no-repeat; cursor:default}
.menu li.last{background-image:none;padding-bottom:20px}
.menu li li{border-bottom:1px solid red;}


.menu ul{position:absolute; display:none; top:100%; left:0;top:20; z-index:99;margin-top:13px;background-color:rgb(17,24,32);color:white;border:0px solid #b0b3b8}
.menu >li{float:left}
.menu li:hover >ul, .menu li.sfHover >ul{display:block;padding-left:0px}
.menu a{display:block; position:relative;margin-right:2px;}
.menu a.current{color:#74ab00}
.menu ul ul{top:25; }
.menu ul{min-width:8em; *width:8em; text-align:right}
.menu a.first{ text-decoration:none; zoom:1;border-bottom:1px solid red; /* IE7 */}
.menu a.active{background-color:yellow; background-position:0 0; background-repeat:repeat-x}
.menu li a{padding:0px; text-decoration:none;border-bottom:0px solid #b0b3b8;padding-bottom:10px;width:95%;; zoom:1;background-color:transparent;}
.menu a{color:#fff}
.menu ul li a{color:white;padding-top:0px;font-weight:400;padding-left:0px;margin-right:50%;margin-left:2px;}

.menu ul li a:hover{color:red;font-weight:400;padding-top:0px;padding-left:0px;margin-right:50%;margin-left:2px;border-bottom:0px solid #b0b3b8;width:95%;background-color:transparent;}
.menu li{white-space:nowrap; *white-space:normal; -webkit-transition:background .2s; 
    top: 0px;
    left: 0px;
    height: 27px;
}
.menu ul li{background-color:rgb(17,24,32); border-bottom:0px solid black; text-align:left; font-size:12px; color:white;width:95%;margin-left:4px}
.menu li li:hover,  .menu li li.sfHover{background-color:transparent; color:Red;width:95%;}
 .menu li a.cd-signin-inactive
            {
                padding: .6em 1em;
                padding-left:0.5em;
                padding-right:0.5em;
                border: 0px solid #414247;
                border-radius:0px;
                font-size: 1vw;
    letter-spacing: 0.08vw;
                text-transform:uppercase;
            }
             .menu a.cd-signin, .main-nav a.cd-signup
            {
                padding: .6em 1em;
                padding-left:0.5em;
                padding-right:0.5em;
                border-bottom: 0px solid rgb(178,30,40);
                border-radius:0px;
                color:red;
                font-size: 1vw;
    letter-spacing: 0.08vw;
                text-transform:uppercase;
            }
             .menu a.cd-signin:hover
            {
                padding: .6em 1em;
                padding-left:0.5em;
                padding-right:0.5em;
                border-bottom: 2px solid rgb(178,30,40);
                border-radius:0px;
                 font-size: 1vw;
    letter-spacing: 0.08vw;
                text-transform:uppercase;
               
            }
             .menu li a.cd-signin-inactive:hover
            {
                padding: .6em 1em;
                padding-left:0.5em;
                padding-right:0.5em;
                border-bottom: 2px solid rgb(178,30,40);
                border-radius:0px;
               font-size: 1vw;
    letter-spacing: 0.08vw;
                text-transform:uppercase;
            }
           #top .right .upper .userdetails .username, #top .right .upper .userdetails .username a{color:#036268; text-decoration:none}
#top .right .bottom{height:40px; width:100%; padding:0px; margin:0px;position:fixed;left:80%;align:right}
.menu1, .menu1 *{margin:0px; padding:0px; list-style:none; padding-top:0px;font-size:15px ; margin-left: 1em;margin-top:0px;margin-bottom:10px;text-align:left;color:black}

.menu1 li{position:relative; margin-left: 1em; font-family:'Gotham',sans-serif; font-size:12px; background-image:url(../images/strib.jpg); 
          background-position:right; background-repeat:no-repeat; cursor:default}
.menu1 li.last{background-image:none;padding-bottom:20px}
.menu1 li li{border-bottom:1px solid red;}


.menu1 ul{position:absolute; display:none; top:100%; left:0; z-index:99;background-color:Black;color:white;align:right;left:0%}
.menu1 >li{float:left}
.menu1 li:hover >ul, .menu li.sfHover >ul{display:block;padding-left:0px}
.menu1 a{display:block; position:relative;margin-right:2px;}
.menu1 a.current{color:#74ab00}
.menu1 ul ul{top:0; }
.menu1 ul{min-width:8em; *width:8em; text-align:right}
.menu1 a.first{ text-decoration:none; zoom:1; }
.menu1 a.active{background-color:yellow; background-position:0 0; background-repeat:repeat-x}
.menu1 li a{padding:0px; text-decoration:none; zoom:1; }
.menu1 a{color:#fff}
.menu1 ul li a{color:white;padding-top:0px;padding-left:0px;margin-right:50%;margin-left:2px}

.menu1 li{white-space:nowrap; *white-space:normal; -webkit-transition:background .2s; 
    top: 0px;
    left: 0px;
    height: 27px;
}
.menu1 ul li{background:black; border-bottom:1px solid black; text-align:left; font-size:12px; color:white;width:80%;margin-left:4px}
.menu1 li li:hover,  .menu1 li li.sfHover{background:none; color:Black;width:50%;}
 .menu1 li a.cd-signin-inactive1
            {
                padding: .6em 1em;
                border: 1px solid #414247;
                border-radius:0px;
                height:50px;
                width:50px;
                background-color:White;
            }
             .menu1 a.cd-signin1, .main-nav a.cd-signup
            {
                padding: .6em 1em;
                border: 1px solid red;
                 border-radius:0px;
                height:50px;
                width:50px;
                background-color:White;
            }
            
            .btncommonclose
        {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 8px 8px;
            border: 1px solid rgb(178, 30, 40);
            border-radius: 0px;
            background-color: rgb(178, 30, 40);
            font-size: 12px;
            font-family: Gotham, sans-serif;
            color: rgb(255,255,255);
            text-decoration: none;
         
           font-weight:bold;
            text-transform:uppercase;
        }