<style>

.tutorial {
  width: 80%;
  margin: 2% auto 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #000000;
  max-width: 800px;
  float:right;
}
.tutorial .slider {
  width: 100%;
  height: 300px;
  background-color: #F03861;
}
.tutorial .information {
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.tutorial .information h1 {
  color: #fff;
  font-size: 1.5rem;
  padding: 0px 10px;
  border-left: 3px solid #F03861;
}
.tutorial .information h3 {
  color: #e0e0e0;
  font-size: 1rem;
  font-weight: 300;
  padding: 0px 10px;
  border-left: 3px solid #F03861;
}
.tutorial .information p {
  padding: 10px 0px;
}
.tutorial ul {
  font-size: 0;
  list-style-type: none;
  z-index: 2; 
  
}
.tutorial ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  padding: 15px;
  position: relative;
  width: 150px;
}
.tutorial ul li ul {
  display: none;
   width: 300px;
}
.tutorial ul li:hover {
  cursor: pointer;
  background-color: #70acea;
}
.tutorial ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 300px;
  left: 0;
  position: absolute;
}
.tutorial ul li:hover ul li {
  display: block;
  background-color: #70acea;
  text-align: left;
    width: 300px;
}
.tutorial ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #3c6bf1;
  padding: 2px 5px;
  text-align: center;
  font-size: .8rem;
  border-radius: 3px;
  text-align: left;
}
.tutorial ul li:hover ul li:hover {
  background-color: #3c6bf1;
}
.tutorial ul li:hover ul li:hover span {
  background-color: #ee204e;
}
</style>